/* custom button */
.submitBox {position: absolute;right: 15px;top: 0;}
.btn-xs {padding: 0px 4px;font-size: 70%;height: 20px;width: auto;}
/* user */
.page-heading {margin-bottom: 0px;}
.page-heading-hr {margin-top: 0px;}
.property-name {width: 30%;display: block;float: left;}
.property-box {width: 70%;display: block;float: left;}
.property-box .property-serial-no input.form-control {line-height: 1;height: 28px;padding: 0px 6px;font-size: 100%;margin-top: -2px;}
.property-radio-box {display: inline;padding-right: 5px;}
/* navbar */
.navbar-logo {max-height: 40px;margin-top: -5px;margin-bottom: -5px;}
/*main content*/
.main-content {margin-top:55px;}
.navbar-brand {font-weight: 600;}
.nav-item.dropdown > .dropdown-menu.bg-dark > .dropdown-item:hover {background-color: rgba(0,0,0, .95);color: white;}
/*wrapper*/
#sidebarTogglerBtn { margin-left: -75px;}
#sidebarTogglerBtn {position: fixed; margin-left: -75px; top: 10px;z-index: 9999;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;}
	.navbar-brand {margin-left: 0px;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;}

/*sidebar*/
#wrapper {
	margin-top: 55px;display: block;position: relative;
}

#sidebar-wrapper {
    z-index: 100;
    position: fixed;
    width: 150px;
    height: 100%;
    overflow-y: auto;
    /*background: rgba(0,10,15, .95);*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {display: contents;padding-top: 10px;height: 100%;}
.sidebar-nav > span {display: block;}
.sidebar-nav > span::first-child {padding: 5px;}
.sidebar-nav > span > .sidebar-link {text-decoration: none;color: #DDDDDD;display: block;padding: 5px 15px 5px 25px;}
.sidebar-nav > span > .sidebar-link:hover {background-color: rgba(0,0,0, .55);}
.sidebar-nav > span > .sidebar-link-btn {text-decoration: none;color: #DDDDDD;display: inline-block;padding: 2px 5px;position: absolute;right: 0px;top: 3px;z-index: 99;background: transparent;}
.sidebar-nav > span > .sidebar-link-btn:hover, .sidebar-nav > span > .sidebar-link-btn:focus, .sidebar-nav > span > .sidebar-link-btn:active {background-color: rgba(0,0,0, .55);}

#page-content-wrapper {
    width: auto;
    position: relative;
    padding: 15px;
    margin-left: 150px;
}

@media(max-width:767px) {
	#sidebarTogglerBtn {margin-left: 15px;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;}
	.navbar-brand {margin-left: 45px;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;}
    .navbar-home {margin-left: 0px;}
	#sidebar-wrapper {
	    width: 150px;
	    margin-left: -150px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	.sidebar-nav > span > a {display: block;padding: 5px 15px;}

	#page-content-wrapper {
	    margin-left: 0px;
	}

	#wrapper.toggled #sidebar-wrapper {
	    margin-left: 0px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
}



/*#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}*/



/*#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        margin-left: 150px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }*/
