

@media screen and (min-width:992px)
{
	/* navbar */
	/* .navbar {padding:10px 0px !important;height:64px;} */
	.navbar-header {display:inline-block;float:left;}
	#navbar-menu {display: inline-block !important;position: absolute;right: 0;}
	/*#navbar-menu > .navbar-nav > .dropdown, #navbar-menu > .navbar-nav > li {float:left;}
	#navbar-menu > .navbar-nav > .dropdown > .dropdown-menu {margin-top:-10px;}
	#navbar-menu > .navbar-nav > .dropdown > .megamenu-content {margin-top:54px;}
	#navbar-menu > .navbar-nav > .dropdown > .megamenu-content .row .col-md-3 {float:left;}*/
}

@media screen and (max-width:991px)
{
	/* navbar */
	.navbar-header {text-align:center;float:none;margin-top:-25px!important;}
	#navbar-menu {overflow-y:auto;}
	#navbar-menu > .navbar-nav > .dropdown > .megamenu-content .row .col-md-3 {float:left;}
}