.fw400 {font-weight: 400;}
.skill-bar {}
.skill-bar span {margin: 0px 2.5px; background-color: rgba(0,0,0, .06);display: inline-block;margin-bottom: 2.5px;}
.available-bar {}
.available-bar span {margin: 0px 2.5px;}
q {font-style: italic;font-weight: 400; font-size: 105%;}
.social-network-bar {}
.totalYear {font-size: 75% !important; display: inline-block;}

/* profile/user sidebar */
.sidebar-item .btn-edit {position: absolute;right: 0px;z-index: 99;margin-top: 2.5px;margin-right: 2.5px;opacity: .33;}
.sidebar-item:hover .btn-edit {opacity: .66;}
.sidebar-item:hover .btn-edit:hover {opacity: .75;}
/* profile photo */
.btn-edit-photo {position: absolute;left: 10px;top: 0;opacity: .66;}
#btn-update-photo {position: absolute;top: 0;right: 0;margin-right: 50px;font-size: 200%;cursor: pointer;display: none;}
#btn-update-photo:hover {color: #2962FF;transition: .2s ease-in-out;}
.input-photo {width: 0px;height: 0px;display: inline;position: absolute;}

.iti-flag {background-image: url("{{ asset('intltelinput/img/flags.png')  }}");}
    
    .intl-tel-input {width: 100%;}
    
    .hide {
        display: none;
    }
    
    .show {
        display: block;
    }
    
    .select2 {
        width: 100% !important;
    }
    
    .editModalBtn {
        padding: 0px 2px !important;
    }
    
    .abs-rt-10 {
        position: absolute;
        right: 10px;
    }

@media (min-width: 768px){
	.titleDivSm, .infoDivSm {display: none !important;}
	.titleDivLg, .infoDivLg {display: block !important;}
}

@media (max-width: 767px) {
	.titleDivSm, .infoDivSm {display: block !important;}
	.titleDivLg, .infoDivLg {display: none !important;}
}